<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-light fixed-top back-nav">
  <a href="/home" class="navbar-brand">
    <i class="fa fa-flask text-warning fa-3x ps-3"></i></a>
  <button type="button" class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end pe-3" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/home" class="nav-link text-light font-weight-bold px-4 fs-4"
      >Home</a></li>
      <li class="nav-item"><a href="/home" class="nav-link text-light font-weight-bold px-4 fs-4"
      >Background</a></li>
      <li class="nav-item"><a href="" class="nav-link text-light font-weight-bold px-4 fs-4">Projects</a></li>
      <li class="nav-item"><a href="/home" class="nav-link text-light font-weight-bold px-4 fs-4">About</a></li>
    </ul>
  </div>
</nav>

<!--Banner-->
<section id="banner">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 90vh">
      <div class="col-sm-10 text-center mb-5 pb-5">
        <h1 class="display-1 font-weight-bold mb-5">
          <span class="text-warning">Projects</span>
        </h1>
        <!--<h2 class="text-warning font-weight-light font-italic text-light">Solutions Consultant with 15+ years experience</h2>-->
        <!--        <a (click)="onClickScroll('projects')" class="btn btn-danger btn-lg px-4 m-3 fs-4">Projects</a>
                <a (click)="onClickScroll('background')" class="btn btn-danger btn-lg px-4 m-3 fs-4">Background</a>-->
      </div>
    </div>
  </div>
</section>
<!--End of  Banner-->

<!--Project One-->
<!--Multiple linear regression project-->
<section id="project1" class="back p-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mb-5">
        <h1 class="text-warning display-5">StartUp Profits - Multiple linear regression</h1>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
      <div class="col text-left d-block px-4">
        <h2 class="text-secondary">Problem</h2>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10">
        <p class="text-white fs-4 text-justify">
          Startups (or any business in general) face the difficult decision on how to invest the capital available to them.
          It is easy to feel overwhelmed and that every area of the business is a priority.
          However, not every investment will benefit the growth of the business in the same way.
        </p>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col text-left d-block px-4">
        <h2 class="text-secondary">Impact</h2>
      </div>
      <div class="col col-lg-10 col-md-10 col-sm-10">
        <p class="text-white fs-4 text-justify">
          How to manage the investment of a company is one of the most (if not the most) crucial decision that
          any Executive team needs to handle. The company growth and overall survival depends on it.
        </p>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col text-left d-block px-4">
        <h2 class="text-secondary">Solution</h2>
      </div>
      <div class="col col-lg-10 col-md-10 col-sm-10">
        <p class="text-white fs-4 text-justify">
          The data collected is from <a href="https://www.kaggle.com/karthickveerakumar/startup-logistic-regression">
          Kaggle</a> and it is based on real example from startups in the United States ,
          specifically in California (17), New York (17) and Florida (16).  Although the data set itself is not
          very extensive (50 samples), it is possible to clearly answer our problem.
        </p>
        <p class="text-white fs-4 text-justify">Our dataset has the following features:</p>
        <ul>
          <li class="text-white">R&D budget (quantitative)</li>
          <li class="text-white">Marketing budget (quantitative)</li>
          <li class="text-white">Administration budget (quantitative)</li>
          <li class="text-white">State (qualitative): California, New York and Florida</li>
          <li class="text-white">Profit (quantitative) - OUTCOME</li>
        </ul>

        <p class="text-white fs-4 text-justify">After checking for NAs in the data, here is a first analysis:</p>
        <img src="assets/basic_stats.png" class="img-thumbnail mb-5">

        <p class="text-white fs-4 text-justify">From this table is possible to see that in all regions, the R&D
          budget is the smallest and that the Marketing budget is the biggest investment. However, this  doesn’t
          answer our main question: what budget does it have the most significant impact on profits?<br><br>
          Just in regards to profits per state, we can see the following: </p>

        <img src="assets/Rplot.png" class="img-thumbnail mb-5 text-center">

        <p class="text-white fs-4 text-justify">Where it is obvious that Florida has the highest median, all states
          are relatively close to each other. <br><br>How does the relationship between each budget and the profits?</p>

        <img src="assets/Rplot01.png" class="img-thumbnail mb-5 text-center">

        <p class="text-white fs-4 text-justify">Here is clearer that the Marketing budget is the largest but it does
          not necessarily reflect on better results. In fact, we could even say that at some point additional Marketing
          budget does not change the Profits. <br><br>This is an interesting finding so let’s dig into it:</p>

        <img src="assets/Rplot02.png" class="img-thumbnail mb-5 text-center">

        <p class="text-white fs-4 text-justify"><p class="text-white fs-4 text-justify">Now it becomes clear that the
        strongest correlation is between R&D spend and Profits (Marketing does also have an impact but not as
        strong as R&D).<br><br>Would it be possible to quantify this? Yes, we can model these relationships through
        a multi-linear model. <br><br>Our model output is:</p>

        <img src="assets/model_output.png" class="img-thumbnail mb-5 text-center">

        <p class="text-white fs-4 text-justify">How to interpret these results:</p>
        <ul>
          <li class="text-white">The R^2 output shows that 95% of our data fits our model (very high!)</li>
          <li class="text-white">In order to consider the other values, we need to verify:</li>
          <li style="list-style-type: none;">
            <ul>
              <li class="text-white">Noise is Gaussian with expectation zero</li>
                <li style="list-style-type: none;">
                  <ul>
                    <li class="text-white">Histogram:</li>
                    <img src="assets/Rplot03.png" class="mt-3 img-thumbnail mb-5 text-center">
                    <li class="text-white">Shapiro Test: p-value = 0.1166. Thus, it is Gaussian</li>
                    <li class="text-white">From the plotting the residuals, it is clear that the noise
                    does not follow a pattern</li>
                    <img src="assets/Rplot04.png" class="mt-3 img-thumbnail mb-5 text-center">
                  </ul>
                </li>
              <li class="text-white">Noise variance is constant (homoscedasticity)</li>
                <li style="list-style-type: none;">
                  <ul>
                    <li class="text-white">From this plotting the Scale location</li>
                    <img src="assets/Rplot05.png" class="mt-3 img-thumbnail mb-5 text-center">
                    <li class="text-white">Since it isn’t a straight line, we better double check with Breusch-Pagan
                      test whose result is p-value:0.4483. Thus, we fail to reject H0, then we have homoscedasticity </li>
                  </ul>
                </li>
            </ul>
          </li>
          <li class="text-white">After this validation, we can conclude that our model is (with a confidence
            interval of 95%):</li>
          <li style="list-style-type: none;">
            <ul>
              <li class="text-white">Profit = 50,740 + 0.8018 * R&D Budget </li>
              <li class="text-white">The Marketing budget has very little effect of factor of 0.02676</li>
            </ul>
          </li>
          <li class="text-white">Validating the model with predictions:</li>
          <img src="assets/Rplot06.png" class="mt-3 img-thumbnail mb-5 text-center">
        </ul>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col text-left d-block px-4">
        <h2 class="text-secondary">Conclusions</h2>
      </div>
      <div class="col col-lg-10 col-md-10 col-sm-10">
        <ul>
          <li class="text-white">Business:</li>
            <li style="list-style-type: none;">
              <ul>
                <li class="text-white">Contrary to what perhaps is expected in many startups, R&D Budget is
                  the most important budget to increase the company’s profits</li>
                <li class="text-white">There is not apparent relevance based on the startup state</li>
              </ul>
            </li>
          <li class="text-white">Data Science:</li>
            <li style="list-style-type: none;">
              <ul>
                <li class="text-white">Modelling a problem without validating the noise assumptions reduces
                  significantly the interpretation from the results since the coefficients could not be used</li>
                <li class="text-white">This is a small dataset and the analysis so far has been done in the complete
                  dataset which does not test the model against “unseen” data. An alternative is to use the “caret”
                  package from R which will allow to split the data several times (25 by default with caret) by using
                  the bootstrap method and applying it to a new subset of the data.</li>
                <li class="text-white">The R squared results are not so different:</li>
                  <li style="list-style-type: none;">
                    <ul>
                      <li class="text-white">Full data: 0.9554</li>
                      <li class="text-white">Caret approach: 0.9421</li>
                    </ul>
                  </li>
                <li style="list-style-type: none;" class="text-white">It makes total sense to have a lower result
                  with Caret as it actually tests the models with “unseen” data and then averages all the R
                  squared results</li>
                <li class="text-white">Considering the limited samples, the model parameters may change based on new
                  data but the conclusions remain in regards to the most dominant feature to predict the final outcome</li>
              </ul>
            </li>
        </ul>
      </div>
    </div>

  </div>
</section>



<!--End of Project One-->



<!--Footer-->
<footer class="back">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-2">
          <a href="#"><i class="fa fa-linkedin fa-2x text-warning mx-3"></i></a>
          <a href="#"><i class="fa fa-github fa-2x text-warning mx-3"></i></a>
        </div>
        <p class="text-light py-4 m-0">&copy; Copyright 2021 - Made by Carlos Caro</p>
      </div>
    </div>
  </div>
</footer>
<!--End of footer-->



